BasedOnStyle: Microsoft
IndentWidth: 4
UseTab: Never
TabWidth: 4
BreakBeforeBraces: Allman
ColumnLimit: 130
AccessModifierOffset: -4
SortIncludes: Never
AllowShortBlocksOnASingleLine: Empty
AlignAfterOpenBracket: DontAlign
ContinuationIndentWidth: 4
AllowShortFunctionsOnASingleLine: Inline
PointerAlignment: Left
AllowShortIfStatementsOnASingleLine: false
SpacesBeforeTrailingComments: 2
AllowShortCaseLabelsOnASingleLine: true
IndentCaseLabels: true
AlwaysBreakTemplateDeclarations: Yes
AlignEscapedNewlines: Left
PackConstructorInitializers: CurrentLine
BinPackArguments: false
BinPackParameters: false